
    @media (max-width: 640px) { 
        .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-right > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-right > div > .ant-tabs-nav .ant-tabs-tab {
            padding: 10px;
        }
     }
    #MovieTabs {
        .ant-tabs {
            color: var(--color-white);
            .ant-tabs-tab {
                &:hover {
                    color: var(--color-primary);
                }
            }
        }
        .ant-tabs-tab.ant-tabs-tab-active {
            border-right: 3px solid var(--color-primary);
            z-index: 1;
            transition: all 0.5s;
            .ant-tabs-tab-btn {
                color: var(--color-primary);
            }
        }
        .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-right > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-right > div > .ant-tabs-nav .ant-tabs-tab {
            padding: 8px 24px 8px 0;
        }
        @media (max-width: 640px) { 
            .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-right > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-right > div > .ant-tabs-nav .ant-tabs-tab {
                padding: 0;
            }
         }
    }


