@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
// @tailwind base;
// @tailwind components;
// @tailwind utilities;
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --color-primary: #ff6500;
    --color-secondary: #1890ff;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-text: #262626;
    --color-background: #111111;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--color-white);
    line-height: 1.5;
}
