.TicketItem {
    width: 6.25%;
    height: 54px;
    display: inline-block;
    .TicketBtn {
        color: white;
        font-weight: bold;
        border: 3px solid var(--color-primary);
        width: 44px;
        height: 34px;
        font-size: 14px;
        margin-left: 2%;
        margin-bottom: 1%;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
            opacity: 0.85;
        }
    }
    .TicketBtn.disabled {
        cursor: text;
        &:hover {
            color: var(--color-white);
        }
    }
}
.ant-btn-primary {
    color: var(--color-black);
}


@media (max-width: 768px) { 
    .TicketItem {
        .TicketBtn {
            width: 36px;
            height: 36px;
        }
    }
 }

 
@media (max-width: 640px) { 
    .TicketItem {
        .TicketBtn {
            font-weight: normal;
            border: 1px solid var(--color-primary);
            width: 24px;
            height: 36px;
            font-size: 12px;
        }
    }
 }